acl2025_main_results
backup
bak
*case_study*
checkpoints
data_example
*2stage*
*no-adapter*
LICENSE
log
multiple*
pipeline*
pt_data_example
results
runs*
reference*
requirements_original.txt
significance.sh
test*py
src
